$headerCellColor: #4668dd;
$colorDefault: #333;
$innerBorders: 1px solid gray;
$activeBorders: 1px solid black;
$outerBorders: 3px solid black;

.magic-table {
  position: relative;
  border: $outerBorders;
  margin-top: 5vh;
}

.magic-tbody {
  --totalRowHeight: calc(var(--rowHeight) + var(--gutters));
  position: relative;
  height: calc(var(--totalRowHeight) * var(--numberOfRows));
  color: $colorDefault;
  background: rgba(255, 255, 255, 0.17);
  background: paint(chicklet);
    
  @supports(background: paint(chicklet)) {
    background: paint(chicklet);
    background-size: 100% var(--totalRowHeight);
    background-repeat: repeat-y;
  };
}

.magic-row {
  width: 100%;
  height: var(--rowHeight);
  
  .magic-thead & {
    border-bottom: $outerBorders;
  }
  
  .magic-tbody & {
    position: absolute;
    top: calc(var(--id) * (var(--rowHeight) + var(--gutters)) + var(--gutters)/2);
    z-index: var(--id);
    transition: top var(--transitionTime) cubic-bezier(.87,.66,0,1.27);
  }
  
}

.magic-column {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 1px 1%;
  text-align: var(--align);
  
  .magic-thead & {
    width: var(--width);
    border-radius: none;
    background: $headerCellColor;
    font-weight: bold;
    color: white;
  }
  
  .magic-tbody & {
    width: calc(var(--width) - var(--gutters));
    border: $activeBorders;
    border-radius: var(--borderRadius);
    background: var(--primaryColor);
    transition: background calc(var(--transitionTime) * 3) cubic-bezier(.87,.66,0,1.27);
    
    margin: 0 calc(var(--gutters)/2);
    &:last-child {
      margin-right: none;
    }
  }
}

// Trust me, I know what I'm doing.
.magic-row:hover .magic-column:not(:hover):after,
.magic-column.active:not(:hover):after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(157, 157, 157, 0.46);
  border-radius: var(--borderRadius);
}


