//////////
//Header//
//////////
@import "../variables";

// HEADER
$aspectRatio: $backgroundHeight / $backgroundWidth;
$thePointBelowTheDeskItems: $aspectRatio * 100vw * 0.5;

%animatingFont {
  font-family: "Movement"; 
  font-variation-settings: "wght" var(--movementWght), "SPAC" var(--movementSpac);
  transition: font-variation-settings 1s ease;

  &:hover {
    --movementWght: 900;
  }
  &:active {
    --movementSpac: 120;
  }
}

header.the-magic-table {
  pointer-events: none;
  height: 100vh;
  min-height: 100vw;
  font-size: 6vw;
  color: white;
  user-select: none;
  text-align: center;
  text-shadow: 5px 5px 15px black;
  
  h1 {
    pointer-events: all;
    position: relative;
    top: $thePointBelowTheDeskItems;
    
    span {
      @extend %animatingFont;
    }
  }
}
