//////////
//Header//
//////////
@import "../global";

// HEADER
$square: "max-aspect-ratio: 1/1";
$pencil: "max-aspect-ratio: 1/3";
$pancake: "min-aspect-ratio: 2/1";
$aspectRatio: $backgroundHeight / $backgroundWidth;
$thePointBelowTheDeskItems: $aspectRatio * 100vw * 0.5;

#splash {
  padding-top: $thePointBelowTheDeskItems;
  display: grid;
  align-items: start;
  height: 100vh;
  color: white;
  font-size: 6vw;
  font-family: "Movement"; 
  text-align: center;
  text-shadow: 5px 5px 15px black;
  pointer-events: none;
  overflow-x: hidden;
  position: relative;
  z-index: 99999999999999999;

  //!: Required to click through to background buttons.
  user-select: none;
  //!/
  
  &:active {
    --movementSpac: 120;
  }
  
  .word {
    transition: font-variation-settings 1s ease-in-out;
    font-variation-settings: "wght" var(--movementWght), "SPAC" var(--movementSpac);
    pointer-events: all;

    &:hover {
      --movementWght: 900;
    }
  }

  .break {
    display: none;
  }
    
  @media screen and (unquote($pancake)) {
    align-items: center;
    padding-top: 0;
  }
  
  @media screen and (unquote($square)) {
    align-items: center;
    padding-top: 0;
    font-size: calc(4vw + 5vh);

    // Show <br> tags
    .break {
      display: inline;
    }
    
    // Intro Font
    letter-spacing: 0vw;
    transition: letter-spacing 3s cubic-bezier(.87,.66,0,1.27);
    &.initial {
      letter-spacing: -100vw;
    }
  }
}

  @supports(mix-blend-mode: overlay) {
    #splash {
      mix-blend-mode: overlay;
    }
  }