/////////////
//Scrollbar//
/////////////
@import "../global";

html, body {
   scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

//////////////
//Typography//
//////////////
@font-face {
  font-family: "Movement";
  src: url("./src/styles/type/MovementV.ttf") format("truetype-variations");
}

::selection {
  background: var(--selectionBackground);
  border-radius: 50px;
}

body, html {
  color: $colorDefault;
  font-family: $fontFamilyDefault;
}

h1,h2,h3,h4,h5,h6, .heading-font {
  font-family: "Movement";
}

p,li {
  margin-bottom: 1em;
  line-height: 1.5;
}