//////////////////
//Content Blocks//
//////////////////
.wrapper {
  position: relative;
}

header.the-magic-table {
  pointer-events: none;
  height: 100vh;
  min-height: 100vw;
  font-size: $heading-size;
  
  h1 {
    $offsetRelativeToBG: $backgroundHeight / $backgroundWidth * 100vw * 0.5;
    pointer-events: all;
    position: relative;
    top: $offsetRelativeToBG;
    color: white;
    user-select: none;
    text-align: center;
    text-shadow: 5px 5px 15px black;
    
    span {
      @extend %movement-type-1;
    }
  }
}

blockquote.fail-better {
  font-size: 40px;
  color: white;
  text-align: center;
  h1,h2,h3,h4,h5,h6 {
    @extend %movement-type-1;
  }
  p {
    margin-bottom: .5em;
  }
}

.table-wrapper {
  margin: 20px 5%;
  //height: 50vh; <-- Not yet ;)
}
