@charset "UTF-8";

//////////////
//Initialize//
//////////////
:root {
  --backgroundMaskColor: rgba(38, 31, 12, 0.57);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/////////////
//Scrollbar//
/////////////
::-webkit-scrollbar {
  display: none;
}

//////////////
//Typography//
//////////////
@font-face {
  font-family: "Movement";
  src: url("./src/styles/type/MovementV.ttf") format("truetype-variations");
}

$heading-size: 6vw;
$colorDefault: white;
$fontFamilyDefault: sans-serif;
$fontFamilyHeading: "Movement";

::selection {
  font-variation-settings: "wght" var(--wght), "SPAC" var(--spac);
  --wght: 900;
  --spac: 120;
  background: rgba(110, 39, 0, 0.48);
}

body, html {
  color: $colorDefault;
  font-family: $fontFamilyDefault;
}

h1,h2,h3,h4,h5,h6, .heading-font {
  font-family: "Movement";
}

p,li {
  margin-bottom: 1em;
  line-height: 1.5;
}

%movement-type-1 {
  font-family: "Movement"; 
  font-variation-settings: "wght" var(--wght), "SPAC" var(--spac);
  transition: font-variation-settings 1s ease;
  --wght: 100;
  --spac: 100;

  &:hover {
    --wght: 900;
  }
  &:active {
    --spac: 120;
  }
}

%console-type-1 {
  font-family: monospace;
  color: orange;
  font-size: 24px;
}

$screenWidth: 80vw;
$bezelWidth: 5vw;
$aspectRatio: 4/3;
#computer {
  @extend %console-type-1;
  position: fixed;
  bottom: - 1vh;
  left: 50%;
  transform: translateX(-50%);
  width: $screenWidth + $bezelWidth * 2;
  height: $screenWidth / $aspectRatio + $bezelWidth * 2;
  #bezel {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    background: beige;
    padding: $bezelWidth;
  }
  #screen {
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 10%;
    padding: 10%;
  }
}

///////////////
//Backgrounds//
///////////////
$bgTopWidth: 1920px;
$bgTopHeight: 1241px;
$bgTopAspectRatio: $bgTopHeight/$bgTopWidth;
$zMask: 2;

.background-wrapper {
  position: relative;
}

.background-mask {
  pointer-events: none;
  position: absolute;
  z-index: $zMask;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backgroundMaskColor);
}

.wrapper > * {
  position: relative;
  z-index: 3;
}

.background-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  padding-bottom: $bgTopHeight / $bgTopWidth * 100%;  
  background: url(src/styles/img/background-top.jpg);
  background-size: contain;
}

.background-repeat {
  $bgPosY: $bgTopHeight / $bgTopWidth * 100vw - 2vw;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(src/styles/img/background-repeat.jpg);
  background-size: contain;
  background-position: 0px $bgPosY;
}

@mixin background-image-buttons($url) {
  position: absolute;
  z-index: 1;
  outline: none;
  border: none;
  background: url(#{$url});
  background-size: contain;
  background-color: none;  
  background-repeat: no-repeat;
}

@mixin scale-to-parent($childWidth, $childHeight, $parentWidth, $parentHeight) {
  width: $childWidth / $parentWidth * 100%;
  height: $childHeight / $parentHeight * 100%;
}

//Coffee//
$coffeeWidth: 185px;
$coffeeHeight: 260px;

button#coffee {
  @include background-image-buttons("src/styles/img/coffee.png");
  @include scale-to-parent($coffeeWidth, $coffeeHeight, $bgTopWidth, $bgTopHeight);
  left: 20.3%;
  top: 2.9%;
}

//Cookies//
$cookiesWidth: 280px;
$cookiesHeight: 280px;

button#cookies {
  @include background-image-buttons("src/styles/img/cookies.png");
  @include scale-to-parent($cookiesWidth, $cookiesHeight, $bgTopWidth, $bgTopHeight);
  left: 83.25%;
  top: 7.25%;
  transition: all .3s ease;

  &:hover,
  &:focus {
    transform: scale(1.3) rotate(-29deg) skew(17deg);
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(-30px 30px 40px rgba(0, 0, 0, 0.68));
  }
  &:active {
    z-index: $zMask + 1;
    transform: scale(1.25);
    transition: all .4s ease;
    filter: none;
  }  
}


//////////
//Layout//
//////////
.wrapper {
  position: relative;
}

//////////////
//Components//
//////////////
header.the-magic-table {
  pointer-events: none;
  height: 100vh;
  min-height: 100vw;
  font-size: $heading-size;
  
  h1 {
    $offsetRelativeToBG: $bgTopHeight / $bgTopWidth * 100vw * 0.5;
    pointer-events: all;
    position: relative;
    top: $offsetRelativeToBG;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 15px black;
    
    span {
      @extend %movement-type-1;
    }
  }
}

blockquote.fail-better {
  font-size: 40px;
  color: white;
  text-align: center;
  h1,h2,h3,h4,h5,h6 {
    @extend %movement-type-1;
  }
  p {
    margin-bottom: .5em;
  }
}

.table-wrapper {
  margin: 20px 5%;
  //height: 50vh; <-- Not yet ;)
}
